.gallery-block {
  margin: 0 0 80px;

  @include vp-767 {
    margin-bottom: 60px;
  }

  &__wrap {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 215px;
    gap: 0 20px;

    @include vp-1023 {
      grid-template-columns: 1fr 180px;
      gap: 40px 28px;
    }

    @include vp-767 {
      gap: 30px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__btn {
    width: 100%;
    order: 1;
    
    @include vp-1023 {
      grid-column: span 2;
    }
  }
}
